<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <title>代理侠-登录1</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <link rel="stylesheet" href="/static/css/login.css">
</head>

<body>
    <div class="dowebok" id="dowebok">
        <div class="form-container sign-up-container">
            <form>
                <h1>注册</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>或使用邮箱注册</span>
                <input type="text" placeholder="姓名">
                <input type="email" placeholder="电子邮箱">
                <input type="password" placeholder="密码">
                <button>注册</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form class="login-form" action="" method="post">
            <h1>登录</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>或使用您的帐号</span>
{#                name和type的前后顺序是有关系的 必须name在前#}
                <input name="username" class="username" type="text"  placeholder="用户名">
                <input name="password" class="password" type="password"  placeholder="密码">
                <a href="#">忘记密码？</a>
                 <input type="button"  class="login-button"value="登录"/>

          </form>

        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>已有帐号？</h1>
                    <p>请使用您的帐号进行登录</p>
                    <button>登录</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>没有帐号？</h1>
                    <p>立即注册加入我们，和我们一起开始旅程吧</p>
                    <button id="signUp">注册</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/login.js"></script>
<script src="/static/js/jquery-1.10.1.js"></script>
<script>
    $(function() {
	$(".login-button").click(function() {
		login_user = $(".username").val();
		login_pass = $(".password").val();
		if (login_pass == "" || login_user == "") {
			alert("用户名或者密码不能为空!");
			return; //直接返回
		}
		console.log("用户名" + login_user);
		console.log("密码" + login_pass);
		var urls = "/user_login/" //接口地址
		$.ajax({
			url: urls,
			data: $('.login-form').serialize(),
			//将表单数据序列化，格式为name=value
			type: 'POST',
			dataType: 'json',
			success: function(data) {
				//success
				if (data.code == 200) {
					alert("登录成功");
                    location.href = "/login" //再次请求下login，此时会进入后端通过session判断登录状态 直接进首页
				} else if (data.code == 400) {
					alert("用户名或者密码错误");
				} else if (data.code == 301) {
					alert("用户未激活");
				}
			},
			error: function() {
				console.log("提交ajax函数异常");
				alert("异常错误")
			},

		});

	});
});
</script>
</body>

</html>